@font-face {
	font-family: DTLArgoT;
	src: url('../fonts/DTLArgoT.otf');
}

@font-face {
	font-family: OpenSans-Regular;
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: OpenSans-Bold;
	src: url('../fonts/OpenSans-Bold.ttf');
  }

  @font-face {
	font-family: OpenSans-SemiBold;
	src: url('../fonts/OpenSans-SemiBold.ttf');
  }

.contenedor-interno{
	width: 528px;
	height: 463px;
	border-radius: 12px;
	background-color: #f8faff;
}

.fila-titulo{
	width: 528px;
  height: 136px;
  border-radius: 12px;
  border: solid 11px #f8faff;
  background-color: var(--white);
}

.barras{
	width: 400px;
  height: 55px;
  mix-blend-mode: multiply;
}

.footer{
	width: 528px;
	height: 54px;
	border-radius: 0px 0px 12px 12px;
	background-image: linear-gradient(to bottom, #0070d9 0%, #0040a8);
}

.label-titulo{
	width: 315px;
  height: 55px;
  font-family: DTLArgoT;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.0px;
  color: #0040a8;
}

.label-subtitulo{
	width: 315px;
  height: 55px;
  font-family: DTLArgoT;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0040a8;
}

.info-text{
	width: 400px;
  height: 57px;
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}

.fecha{
	width: 397px;
  height: 17px;
  font-family: OpenSans-Bold;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.usuario{
	width: 400px;
  height: 54px;
  font-family: OpenSans-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #5c5c5c;
}

.label-footer{
  height: 17px;
  font-family: OpenSans-SemiBold;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#ffffff;
  margin: 19px 0px 15px 0px;
}

.footer-img{
	margin: auto;
	margin: 20px 1px 19px 60px;
}